* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.box {

    background: white;
    min-height: 80vh;
    width: 75%; max-width:1400px; margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:  center;
    background: linear-gradient(to right top, #4a9c9c9c, #bed7dba2);
    top: 10%;
    right: 4%;
    border-radius: 2rem;
    z-index: 3;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    position:relative;
    top: 0rem;
    
}


.wireframe1 {
    
    background: url(/Assets/surf.jpg) no-repeat center;
    background-size: 100% 100%;
    height: 20rem;
    width: 90%;
    border: 2px solid rgb(8, 76, 121);
    display: inline;
    text-align: center;
    color: white;
    
}

.wireframe1:hover{

    opacity:75%;


}

.wireframe2 {

    background: url(/Assets/calculator.jpg) no-repeat center;
    background-size: 100% 100%;
    height: 10rem;
    width: 40%;
    border: 2px solid rgb(8, 76, 121);
    display: inline;
    text-align: center;
    color: white;
    
}   

.wireframe2:hover{

    opacity:75%;


}
    

.wireframe3 {

    background: url(/Assets/LED\ WALL.jpg) no-repeat center;
    background-size: 100% 100%;
    height: 10rem;
    width: 40%;
    border: 2px solid rgb(8, 76, 121);
    display: inline;
    text-align: center;
    color: white;
    
} 

.wireframe3:hover{

    opacity:75%;


}

.wireframe4 {

    background: url(/Assets/Run\ Buddy.png) no-repeat center;
    background-size: 100% 100%;
    height: 10rem;
    width: 40%;
    border: 2px solid rgb(8, 76, 121);
    display: inline;
    text-align: center;
    color: white;
    
} 

.wireframe4:hover{

    opacity:75%;


}


.wireframe5 {

    background: url(/Assets/Pastel\ Puzzles.png) no-repeat center;
    background-size: 100% 100%;
    height: 10rem;
    width: 40%;
    border: 2px solid rgb(8, 76, 121);
    display: inline;
    text-align: center;
    color: white;
    
} 

.wireframe5:hover{

    opacity:75%;


}






.sidebar{
    
    color: white;
    background:  #1992969c;
    max-width: 15rem;
    max-height: 10rem;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    
    


}


.aside {


    flex-wrap: wrap;
    padding: 1rem;
    max-width: 100%;
    margin-right: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    border: solid teal;
    text-align: center;
    
    
}



h1{
    font-size: 5rem;
    color:aliceblue;
    

}

main{
  min-height: 150vh;
  position: relative;
  
  


}


.header{


    width: 100%;  
    color: white !important;
    padding: 60px;
    white-space: normal;
    background: linear-gradient(to right top, #4a9c9c, #bed7db)
    
}





nav li{

    list-style-type: none;
    display: inline-block;   
    color:aliceblue;
    float: right;
    
}



.navigation-bar a{

    
    color:white !important;
    font-size: 2rem;
    float: right;
    margin-right: 20px;
    padding:0;
    color: white;   
    

}


.footer {
    
    color: white;
    font-size: 2rem;
    max-width: 100%;
    list-style-type: none;
    background: linear-gradient(to right top, #4a9c9c, #bed7db)
    
}



footer li {

    display:inline-block;
    padding: 10px;
    
    
   
}


footer ul {
    list-style-type: none;
    

}


a:hover {

    
    background-color: rgb(111, 207, 194);

}

img{

    border: solid teal;


}


a { 
    color: white;

}



  @media screen and (width <= 700px) {
    .navigation-bar  {
      
      display: inline;
      padding: 5px;
      scale: 50%;
      font-size: 10px;
      
    }

    .Portfolio {
      
        
        font-size: 50px;
        
      }
  }


